[Unit]
Description=Artisan Gitmonitor Service
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/opt/artisan/bin/ais_gitmon
ExecReload=/bin/kill -SIGHUP $MAINPID
KillSignal=SIGUSR1
WorkingDirectory=/etc/ais_gitmon
StandardOutput=file:/var/log/ais_gitmon.log
StandardError=file:/var/log/ais_gitmon.log
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
