[Unit]
Description=Git Monitor Service
After=network.target

[Service]
Type=simple
User=dwhitfield
Group=dwhitfield
ExecStart=/usr/local/bin/git_monitor
WorkingDirectory=/etc/git_monitor
StandardOutput=file:/var/log/git_monitor.log
StandardError=file:/var/log/git_monitor.log
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
